<nav class="grey">
	<div class="nav-wrapper">
		<a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a href="/">Home</a></li>
			<li><a href="//community.aurorafoss.org">Community</a></li>
			<li><a href="//blog.aurorafoss.org">Blog</a></li>
			<li><a href="//wiki.aurorafoss.org">Wiki</a></li>
			<li><a href="//lists.aurorafoss.org">Mailing list</a></li>
			<li><a href="/projects/">Projects</a></li>
			<li><a href="//dl.aurorafoss.org/aurorafoss/pub/">Repository</a></li>
			<li><a href="/team.html">Team</a></li>
			<li><a href="/donate.html">Donate</a></li>
			<li><a href="/about.html">About</a></li>
		</ul>
	</div>
</nav>

<script>$(document).ready(function(){$('.sidenav').sidenav();});</script>
<ul class="sidenav" id="mobile-nav">
	<li><a href="/">Home</a></li>
	<li><a href="//community.aurorafoss.org">Community</a></li>
	<li><a href="//blog.aurorafoss.org">Blog</a></li>
	<li><a href="//wiki.aurorafoss.org">Wiki</a></li>
	<li><a href="//lists.aurorafoss.org">Mailing list</a></li>
	<li><a href="/projects/">Projects</a></li>
	<li><a href="//dl.aurorafoss.org/aurorafoss/pub/">Repository</a></li>
	<li><a href="/team.html">Team</a></li>
	<li><a href="/donate.html">Donate</a></li>
	<li><a href="/about.html">About</a></li>
</ul>